<form [formGroup]="sorterForm">
  <div class="mb-3">
    <label for="sortBy" class="form-label">Sort by</label>

    <select class="form-select" id="sortBy" formControlName="by" data-test-id="sortingBy">
      <option></option>
      <option *ngFor="let option of byOptions" [value]="option.value">{{ option.label }}</option>
    </select>
  </div>

  <div class="mb-3">
    <select class="form-select" formControlName="type" data-test-id="sortingType">
      <option></option>
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>

  <input type="reset" value="Reset" class="btn btn-secondary">
</form>

<!-- <pre>{{ sorterForm.value | json }}</pre> -->
<!-- <pre>{{ sorterForm.pristine | json }}</pre> -->
<!-- <pre>{{ sorterForm.dirty | json }}</pre> -->
